---
layout: default
---

    <div id="main" role="main">
      {% include sidebar.html %}

      <div class="archive">
          <h3 class="archive__subtitle">Our Team</h3>

          <div class="bio">

			<div class="hemant">
 				<img src="/images/hemant.jpg"> 

 				<h3 id="name">Hemant Shinde</h3>

 				<p>Hemant has an experience in creating usable and delightful online experiences. He has a unique skill set of user experience design, user research, user interface design, and usability testing. Hemant also has a Bachelor degree in Computer Engineering from the University of Mumbai. Currently, he is pursuing Master of Information Technology and Management at School of Applied Technology. He specializes in web design and development.</p>

 			</div>
		</div>

		<div class="bio">

			<div class="meiqi">
 				<img src="/images/meiqi.jpg"> 

 				<h3 id="name">Meiqi Zhao</h3>

 				<p>Meiqi Zhao is currently a graduate student majoring in Technical Communication and Information Architecture at Illinois Institute of Technology; she is the teaching assistant of Art and Architectural History class at Lewis College of Human Science. She earned her first Bachelor’s degree from Sichuan Conservatory of Music in Chengdu, Sichuan, China; and second one from Eastern New Mexico University in Portales, New Mexico. Zhao had been interning at KENW NEWS 3 NEW MEXICO for 3 years from 2012-2015, was the floor director of the station; She was also the program promoter at Wuhan Broadcasting and Television Station in Wuhan, Hubei, China.  Zhao will be graduating from Illinois Institute of Technology with her Master of Science degree in May, 2018.
				</p>

 			</div>
		</div>

		<div class="bio">

			<div class="phil">
 				<img src="/images/phil.jpg"> 

 				<h3 id="name">Phil Payan</h3>

 				<p>Phil Payan is a Technical Communication and Information Architecture student pursuing his Masters of Science from the Illinois Institute of Technology. After receiving his Bachelor of Arts in Fiction Writing from Columbia College Chicago he set out to see what was over the horizon. After trekking through India and a stint in Chile he finds himself back in his sweet home Chicago. When not collecting passport stamps or writing graphic novels, Phil can be found at a street festival on the lakefront or in one of Chicago's few remaining blues clubs.
				</p>

 			</div>
		</div>


		<div class="bio">

			<div class="phil">
 				<img src="/images/josh.jpg"> 

 				<h3 id="name">Josh Guberman</h3>

 				<p>Josh is currently pursuing a B.S. in psychology at the Illinois Institute of Technology and is a student researcher within the <a href="http://www.casmlab.org/">Collective Action and Social Media Lab</a>. After graduating, he plans to pursue graduate studies in human-computer interaction. His primary research interests include developing and testing assistive technologies and technology-based interventions for individuals with cognitive, psychological, and/or physical disabilities.</p>

 			</div>
		</div>

      </div>

    </div>
